@page "/"
@using Microsoft.Agents.AI

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<input @bind="@_question" />
<button @onclick="AskAi">Submit</button>

@if (!string.IsNullOrWhiteSpace(_answer))
{
    <h2>Answer</h2>
    @_answer
}